openapi: 3.0.3
info:
  title: CircleCI API
  description: This describes the resources that make up the CircleCI API v2.
  license:
    name: MIT
    url: https://opensource.org/license/MIT
  version: v2
servers:
- url: https://circleci.com/api/v2
security:
- api_key_header: []
- basic_auth: []
- api_key_query: []
tags:
- name: Context
  description: "Endpoints relating to [contexts](https://circleci.com/docs/contexts/).\
    \ Use contexts to secure and share environment variables."
- name: Insights
  description: "Endpoints relating to [Insights](https://circleci.com/docs/insights/).\
    \ Use Insights to monitor credit and compute usage for your projects."
- name: User
  description: A set of endpoints you can use to get information about a specific
    user.
- name: Pipeline
  description: "Endpoints relating to [pipelines](https://circleci.com/docs/pipelines/).\
    \ Get information about your pipelines. Trigger or continue a pipeline."
- name: Job
  description: "Endpoints relating to [jobs](https://circleci.com/docs/jobs-steps/).\
    \ Get information about your jobs, retrieve job assets, cancel a job."
- name: Workflow
  description: "Endpoints relating to [workflows](https://circleci.com/docs/workflows/).\
    \ Get information about your workflows, or interact with them to rerun, cancel\
    \ or approve a job."
- name: Webhook
  description: "Endpoints relating to [outbound webhooks](https://circleci.com/docs/webhooks/#outbound-webhooks).\
    \ Use outbound webhooks to integrate your CircleCI builds with external services."
- name: OIDC Token Management
  description: Endpoints related to manage oidc identity tokens
- name: Policy Management
  description: Endpoints related to managing policies and making policy decisions
- name: Project
  description: "[__EXPERIMENTAL__] Endpoints related to creating and managing a project."
- name: Usage
  description: |
    Endpoints related to organization usage exports.

    The Usage API is an API provided by CircleCI to customers to access all of their usage data on CircleCI. It contains all the metadata (org, project, pipeline, workflow, and job dimensions) as well as credit consumption data. It is provided at the near lowest level of granularity (at the job run level).

    __Restrictions__

    * Max result set size of 100MB
    * Query timeout of 4 hours.
    * Max date window of 32 days
    * 13 months of historical data is available
    * No PII is surfaced in the Usage API (e.g. email address, Github login name)
    * The POST endpoint can only be queried up to (i.e. is rate limited to) 10 times per hour per org
    * The GET endpoint can only be queried up to (i.e. is rate limited to) 10 times per minute per org
    * To increase performance the API can generate multiple CSV files that need to be merged after download

    __Requirements__

    * organization ID - To get your organization ID go to to Organization Settings tab in the CircleCI app. ie https://app.circleci.com/settings/organization/<vcs>/<org name>/overview
    * API Personal Access Token - https://circleci.com/docs/managing-api-tokens/

    __Report Fields__

    |                                       | Field                         | Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
    |---------------------------------------|-------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
    |                                       | organization_id               | The org ID                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | organization_name             | The org name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
    |                                       | organization_created_date     | The date (UTC) that the org was created                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
    | Project-level attributes              | project_id                    | The project ID / token                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
    |                                       | project_name                  | The project name. For classic orgs, the project name is inherited from Github. For standalone, the org is set by the user.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    |                                       | project_created_date          | The date (UTC) that the project was created. For classic orgs, this is the date that the repo was authorized on CircleCI. For standalone orgs, this is the date that the project was created on CircleCI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | last_build_finished_at        | The date (UTC) of the last pipeline run on this project                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
    | Pipeline-level attributes             | vcs_name                      | The name of the VCS connected to the project on which the pipeline was run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    |                                       | vcs_url                       | The URL of the VCS on which the pipeline was run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
    |                                       | vcs_branch                    | The branch on which the pipeline was run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
    |                                       | pipeline_id                   | The ID of the pipeline instance that was triggered. If a pipeline is re-run, it will share the same pipeline ID as the original pipeline instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
    |                                       | pipeline_created_at           | The date (UTC) the pipeline instance was first triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | pipeline_number               | The pipeline number                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
    |                                       | is_unregistered_user          | Y/N flag of whether the pipeline was triggered by a CircleCI user or a user not registered on CircleCI. Examples of the latter include users who commit on a connected VCS and consume credits on CircleCI.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
    |                                       | pipeline_trigger_source       | The source of the pipeline instance trigger (API, webhook, etc.)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
    |                                       | pipeline_trigger_user_id      | The user ID / token of the user who triggered the pipeline                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    | Workflow-level attributes             | workflow_id                   | The ID of the workflow instance that was triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | workflow_name                 | The name of the workflow                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
    |                                       | workflow_first_job_queued_at  | The timestamp (UTC) of when the workflow instance started to queue                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
    |                                       | workflow_first_job_started_at | The timestamp (UTC) of when the workflow instance started to run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    |                                       | workflow_stopped_at           | The timestamp (UTC) of when the workflow instance stopped                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
    |                                       | is_workflow_successful        | Y/N flag of whether all jobs in the workflow were successfully ran                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    | Job-level attributes                  | job_name                      | The name of the job (the name the customer sees in the UI)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    |                                       | job_id                        | The ID of the job run instance that was triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
    |                                       | job_run_number                | The number of the job run instance that was triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
    |                                       | job_run_date                  | The date (UTC) of the job run instance began                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
    |                                       | job_run_queued_at             | The timestamp (UTC) of when the job started to queue                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
    |                                       | job_run_started_at            | The timestamp (UTC) of when the job started to run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
    |                                       | job_run_stopped_at            | The timestamp (UTC) of when the job stopped                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | job_build_status              | The status of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | resource_class                | The resource class of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    |                                       | operating_system              | The operating system of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
    |                                       | executor                      | The executor of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
    |                                       | parallelism                   | The parallelism of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
    |                                       | job_run_seconds               | The duration in seconds of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
    |                                       | median_cpu_utilization_pct    | The median CPU utilization calculated over the course of the entire job run instance. CPU utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
    |                                       | max_cpu_utilization_pct       | The max CPU utilization logged over the course of the entire job run instance. CPU utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    |                                       | median_ram_utilization_pct    | The median RAM utilization calculated over the course of the entire job run instance. RAM utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
    |                                       | max_ram_utilization_pct       | The max RAM utilization logged over the course of the entire job run instance. RAM utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
    | Credit consumption metrics            | compute_credits               | The compute credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
    |                                       | dlc_credits                   | The docker-layer caching credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | user_credits                  | The user credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
    |                                       | storage_credits               | The storage credits consumed by this job run instance. Note: When an organization is below its allocated storage threshold, a job that uses storage will have 0 storage credits applied. The organization's included storage threshold can be found on the [CircleCI web app](https://app.circleci.com/home) by navigating to **Plan > Plan Usage**.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
    |                                       | network_credits               | The network credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
    |                                       | lease_credits                 | The lease credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
    |                                       | lease_overage_credits         | The lease overage credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
    |                                       | ipranges_credits              | The IP ranges credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
    |                                       | total_credits                 | The total credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
paths:
  /context:
    get:
      tags:
      - Context
      summary: List contexts
      description: List all contexts for an owner.
      operationId: listContexts
      parameters:
      - name: owner-id
        in: query
        description: The unique ID of the owner of the context. Specify either this
          or owner-slug.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: owner-slug
        in: query
        description: A string that represents an organization. Specify either this
          or owner-id. Cannot be used for accounts.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: owner-type
        in: query
        description: The type of the owner. Defaults to "organization". Accounts are
          only used as context owners in server.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - account
          - organization
      - name: page-token
        in: query
        description: A token to retrieve the next page of results.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A paginated list of contexts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/context',
            qs: {
              'owner-id': 'c65b68ef-e73b-4bf2-be9a-7a322a9df150',
              'page-token': 'NEXT_PAGE_TOKEN'
            },
            headers: {'Circle-Token': 'CIRCLE_TOKEN'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection('circleci.com')

          headers = { 'Circle-Token': 'CIRCLE_TOKEN' }

          conn.request('GET', '/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN', headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode('utf-8'))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Circle-Token\", \"CIRCLE_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN' \
            --header "Circle-Token: ${CIRCLE_TOKEN}"
      - lang: Ruby + Native
        source: |-
          require 'uri'
          require 'net/http'
          require 'openssl'

          url = URI('https://circleci.com/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN')

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request['Circle-Token'] = 'CIRCLE_TOKEN'

          response = http.request(request)
          puts response.read_body
    post:
      tags:
      - Context
      summary: Create a new context
      description: Creates a new context.
      operationId: createContext
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/context_body"
      responses:
        "200":
          description: The new context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Context"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'POST',
            url: 'https://circleci.com/api/v2/context',
            headers: {'content-type': 'application/json', Authorization: 'Basic REPLACE_BASIC_AUTH'},
            body: {
              name: 'string',
              owner: {id: '497f6eca-6276-4993-bfeb-53cbbbba6f08', type: 'organization'}
            },
            json: true
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          payload = "{\"name\":\"string\",\"owner\":{\"id\":\"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\"type\":\"organization\"}}"

          headers = {
              'content-type': "application/json",
              'Authorization': "Basic REPLACE_BASIC_AUTH"
              }

          conn.request("POST", "/api/v2/context", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"string\\\",\\\"owner\\\
          \":{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"type\\\"\
          :\\\"organization\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url,\
          \ payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\
          \treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\t\
          res, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody,\
          \ _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\
          \n}"
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://circleci.com/api/v2/context \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH' \
            --header 'content-type: application/json' \
            --data '{"name":"string","owner":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","type":"organization"}}'
  /context/{context-id}:
    get:
      tags:
      - Context
      summary: Get a context
      description: Returns basic information about a context.
      operationId: getContext
      parameters:
      - name: context-id
        in: path
        description: ID of the context (UUID)
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: The context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Context"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D',
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/context/%7Bcontext-id%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://circleci.com/api/v2/context/%7Bcontext-id%7D \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
    delete:
      tags:
      - Context
      summary: Delete a context
      operationId: deleteContext
      parameters:
      - name: context-id
        in: path
        description: ID of the context (UUID)
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: A confirmation message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'DELETE',
            url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D',
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("DELETE", "/api/v2/context/%7Bcontext-id%7D", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D\"\
          \n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://circleci.com/api/v2/context/%7Bcontext-id%7D \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /context/{context-id}/environment-variable:
    get:
      tags:
      - Context
      summary: List environment variables
      description: "List information about environment variables in a context, not\
        \ including their values."
      operationId: listEnvironmentVariablesFromContext
      parameters:
      - name: context-id
        in: path
        description: ID of the context (UUID)
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: page-token
        in: query
        description: A token to retrieve the next page of results.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A paginated list of environment variables
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable',
            qs: {'page-token': 'SOME_STRING_VALUE'},
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/context/%7Bcontext-id%7D/environment-variable?page-token=SOME_STRING_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable?page-token=SOME_STRING_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable?page-token=SOME_STRING_VALUE' \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /context/{context-id}/environment-variable/{env-var-name}:
    put:
      tags:
      - Context
      summary: Add or update an environment variable
      description: "Create or update an environment variable within a context. Returns\
        \ information about the environment variable, not including its value."
      operationId: addEnvironmentVariableToContext
      parameters:
      - name: context-id
        in: path
        description: ID of the context (UUID)
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: env-var-name
        in: path
        description: The name of the environment variable
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: POSTGRES_USER
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/environmentvariable_envvarname_body"
      responses:
        "200":
          description: The new environment variable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_2"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'PUT',
            url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER',
            headers: {'content-type': 'application/json', Authorization: 'Basic REPLACE_BASIC_AUTH'},
            body: {value: 'some-secret-value'},
            json: true
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          payload = "{\"value\":\"some-secret-value\"}"

          headers = {
              'content-type': "application/json",
              'Authorization': "Basic REPLACE_BASIC_AUTH"
              }

          conn.request("PUT", "/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\
          \n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER\"\
          \n\n\tpayload := strings.NewReader(\"{\\\"value\\\":\\\"some-secret-value\\\
          \"}\")\n\n\treq, _ := http.NewRequest(\"PUT\", url, payload)\n\n\treq.Header.Add(\"\
          content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\"\
          , \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH' \
            --header 'content-type: application/json' \
            --data '{"value":"some-secret-value"}'
    delete:
      tags:
      - Context
      summary: Remove an environment variable
      description: Delete an environment variable from a context.
      operationId: deleteEnvironmentVariableFromContext
      parameters:
      - name: env-var-name
        in: path
        description: The name of the environment variable
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: POSTGRES_USER
      - name: context-id
        in: path
        description: ID of the context (UUID)
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: A confirmation message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'DELETE',
            url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER',
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("DELETE", "/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER\"\
          \n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/pages/{project-slug}/summary:
    get:
      tags:
      - Insights
      summary: Get summary metrics and trends for a project across it's workflows
        and branches
      description: |-
        Get summary metrics and trends for a project at workflow and branch level.
                     Workflow runs going back at most 90 days are included in the aggregation window.
                     Trends are only supported upto last 30 days.
                     Please note that Insights is not a financial reporting tool and should not be used for precise credit reporting.  Credit reporting from Insights does not use the same source of truth as the billing information that is found in the Plan Overview page in the CircleCI UI, nor does the underlying data have the same data accuracy guarantees as the billing information in the CircleCI UI.  This may lead to discrepancies between credits reported from Insights and the billing information in the Plan Overview page of the CircleCI UI.  For precise credit reporting, always use the Plan Overview page in the CircleCI UI.
      operationId: getProjectWorkflowsPageData
      parameters:
      - name: project-slug
        in: path
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        required: true
        style: simple
        explode: false
        allowReserved: true
        schema:
          type: string
        example: gh/CircleCI-Public/api-preview-docs
      - name: reporting-window
        in: query
        description: "The time window used to calculate summary metrics. If not provided,\
          \ defaults to last-90-days"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - last-7-days
          - last-90-days
          - last-24-hours
          - last-30-days
          - last-60-days
        example: last-90-days
      - name: branches
        in: query
        description: The names of VCS branches to include in branch-level workflow
          metrics.
        required: false
        style: form
        explode: true
        schema:
          type: object
        example: "A single branch: ?branches=main or for multiple branches: ?branches=main&branches=feature&branches=dev"
      - name: workflow-names
        in: query
        description: The names of workflows to include in workflow-level metrics.
        required: false
        style: form
        explode: true
        schema:
          type: object
        example: |-
          A single workflow name: ?workflow-names=build-test-deploy or
              for multiple workflow names: ?workflow-names=build&workflow-names=test-and-deploy.
      responses:
        "200":
          description: Aggregated summary metrics and trends by workflow and branches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary',
            qs: {
              'reporting-window': 'SOME_STRING_VALUE',
              branches: 'SOME_OBJECT_VALUE',
              'workflow-names': 'SOME_OBJECT_VALUE'
            },
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary?reporting-window=SOME_STRING_VALUE&branches=SOME_OBJECT_VALUE&workflow-names=SOME_OBJECT_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary?reporting-window=SOME_STRING_VALUE&branches=SOME_OBJECT_VALUE&workflow-names=SOME_OBJECT_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary?reporting-window=SOME_STRING_VALUE&branches=SOME_OBJECT_VALUE&workflow-names=SOME_OBJECT_VALUE' \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/time-series/{project-slug}/workflows/{workflow-name}/jobs:
    get:
      tags:
      - Insights
      summary: Job timeseries data
      description: Get timeseries data for all jobs within a workflow. Hourly granularity
        data is only retained for 48 hours while daily granularity data is retained
        for 90 days.
      operationId: getJobTimeseries
      parameters:
      - name: project-slug
        in: path
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        required: true
        style: simple
        explode: false
        allowReserved: true
        schema:
          type: string
        example: gh/CircleCI-Public/api-preview-docs
      - name: workflow-name
        in: path
        description: The name of the workflow.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: build-and-test
      - name: branch
        in: query
        description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: granularity
        in: query
        description: The granularity for which to query timeseries data.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - daily
          - hourly
        example: hourly
      - name: start-date
        in: query
        description: Include only executions that started at or after this date. This
          must be specified if an end-date is provided.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
        example: 2020-08-21T13:26:29Z
      - name: end-date
        in: query
        description: Include only executions that started before this date. This date
          can be at most 90 days after the start-date.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
        example: 2020-09-04T13:26:29Z
      responses:
        "200":
          description: "An array of timeseries data, one entry per job."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_4"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/insights/time-series/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test/jobs',
            qs: {
              branch: 'SOME_STRING_VALUE',
              granularity: 'SOME_STRING_VALUE',
              'start-date': 'SOME_STRING_VALUE',
              'end-date': 'SOME_STRING_VALUE'
            },
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/insights/time-series/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test/jobs?branch=SOME_STRING_VALUE&granularity=SOME_STRING_VALUE&start-date=SOME_STRING_VALUE&end-date=SOME_STRING_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/time-series/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test/jobs?branch=SOME_STRING_VALUE&granularity=SOME_STRING_VALUE&start-date=SOME_STRING_VALUE&end-date=SOME_STRING_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/insights/time-series/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test/jobs?branch=SOME_STRING_VALUE&granularity=SOME_STRING_VALUE&start-date=SOME_STRING_VALUE&end-date=SOME_STRING_VALUE' \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/{org-slug}/summary:
    get:
      tags:
      - Insights
      summary: "Get summary metrics with trends for the entire org, and for each project."
      description: |-
        Gets aggregated summary metrics with trends for the entire org.
                      Also gets aggregated metrics and trends for each project belonging to the org.
      operationId: getOrgSummaryData
      parameters:
      - name: org-slug
        in: path
        description: Org slug in the form `vcs-slug/org-name`. The `/` characters
          may be URL-escaped.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: gh/CircleCI-Public
      - name: reporting-window
        in: query
        description: "The time window used to calculate summary metrics. If not provided,\
          \ defaults to last-90-days"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - last-7-days
          - last-90-days
          - last-24-hours
          - last-30-days
          - last-60-days
        example: last-90-days
      - name: project-names
        in: query
        description: List of project names.
        required: false
        style: form
        explode: true
        schema:
          type: object
        example: "For a single project: ?project-names=some-project or for multiple\
          \ projects: ?project-names=some-project1&project-names=some-project2"
      responses:
        "200":
          description: summary metrics with trends for an entire org and it's projects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_5"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/summary',
            qs: {'reporting-window': 'SOME_STRING_VALUE', 'project-names': 'SOME_OBJECT_VALUE'},
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/insights/gh/CircleCI-Public/summary?reporting-window=SOME_STRING_VALUE&project-names=SOME_OBJECT_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/gh/CircleCI-Public/summary?reporting-window=SOME_STRING_VALUE&project-names=SOME_OBJECT_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/summary?reporting-window=SOME_STRING_VALUE&project-names=SOME_OBJECT_VALUE' \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/{project-slug}/branches:
    get:
      tags:
      - Insights
      summary: Get all branches for a project
      description: "Get a list of all branches for a specified project. The list will\
        \ only contain branches currently available within Insights. The maximum number\
        \ of branches returned by this endpoint is 5,000."
      operationId: getAllInsightsBranches
      parameters:
      - name: project-slug
        in: path
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        required: true
        style: simple
        explode: false
        allowReserved: true
        schema:
          type: string
        example: gh/CircleCI-Public/api-preview-docs
      - name: workflow-name
        in: query
        description: The name of a workflow. If not passed we will scope the API call
          to the project.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: build-and-test
      responses:
        "200":
          description: A list of branches for a project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_6"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/branches',
            qs: {'workflow-name': 'SOME_STRING_VALUE'},
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/insights/gh/CircleCI-Public/api-preview-docs/branches?workflow-name=SOME_STRING_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/branches?workflow-name=SOME_STRING_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/branches?workflow-name=SOME_STRING_VALUE' \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/{project-slug}/flaky-tests:
    get:
      tags:
      - Insights
      summary: Get flaky tests for a project
      description: |-
        Get a list of flaky tests for a given project. Flaky tests are branch agnostic.
                     A flaky test is a test that passed and failed in the same commit.
      operationId: getFlakyTests
      parameters:
      - name: project-slug
        in: path
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        required: true
        style: simple
        explode: false
        allowReserved: true
        schema:
          type: string
        example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          description: A list of flaky tests for a project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_7"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/flaky-tests',
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/insights/gh/CircleCI-Public/api-preview-docs/flaky-tests", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/flaky-tests\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/flaky-tests \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/{project-slug}/workflows:
    get:
      tags:
      - Insights
      summary: Get summary metrics for a project's workflows
      description: "Get summary metrics for a project's workflows.  Workflow runs\
        \ going back at most 90 days are included in the aggregation window. Metrics\
        \ are refreshed daily, and thus may not include executions from the last 24\
        \ hours.  Please note that Insights is not a financial reporting tool and\
        \ should not be used for precise credit reporting.  Credit reporting from\
        \ Insights does not use the same source of truth as the billing information\
        \ that is found in the Plan Overview page in the CircleCI UI, nor does the\
        \ underlying data have the same data accuracy guarantees as the billing information\
        \ in the CircleCI UI.  This may lead to discrepancies between credits reported\
        \ from Insights and the billing information in the Plan Overview page of the\
        \ CircleCI UI.  For precise credit reporting, always use the Plan Overview\
        \ page in the CircleCI UI."
      operationId: getProjectWorkflowMetrics
      parameters:
      - name: project-slug
        in: path
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        required: true
        style: simple
        explode: false
        allowReserved: true
        schema:
          type: string
        example: gh/CircleCI-Public/api-preview-docs
      - name: page-token
        in: query
        description: A token to retrieve the next page of results.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: all-branches
        in: query
        description: Whether to retrieve data for all branches combined. Use either
          this parameter OR the branch name parameter.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch
        in: query
        description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: reporting-window
        in: query
        description: "The time window used to calculate summary metrics. If not provided,\
          \ defaults to last-90-days"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - last-7-days
          - last-90-days
          - last-24-hours
          - last-30-days
          - last-60-days
        example: last-90-days
      responses:
        "200":
          description: A paginated list of summary metrics by workflow
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_8"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows',
            qs: {
              'page-token': 'SOME_STRING_VALUE',
              'all-branches': 'SOME_BOOLEAN_VALUE',
              branch: 'SOME_STRING_VALUE',
              'reporting-window': 'SOME_STRING_VALUE'
            },
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows?page-token=SOME_STRING_VALUE&all-branches=SOME_BOOLEAN_VALUE&branch=SOME_STRING_VALUE&reporting-window=SOME_STRING_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows?page-token=SOME_STRING_VALUE&all-branches=SOME_BOOLEAN_VALUE&branch=SOME_STRING_VALUE&reporting-window=SOME_STRING_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows?page-token=SOME_STRING_VALUE&all-branches=SOME_BOOLEAN_VALUE&branch=SOME_STRING_VALUE&reporting-window=SOME_STRING_VALUE' \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/{project-slug}/workflows/{workflow-name}:
    get:
      tags:
      - Insights
      summary: Get recent runs of a workflow
      description: "Get recent runs of a workflow. Runs going back at most 90 days\
        \ are returned. Please note that Insights is not a financial reporting tool\
        \ and should not be used for precise credit reporting.  Credit reporting from\
        \ Insights does not use the same source of truth as the billing information\
        \ that is found in the Plan Overview page in the CircleCI UI, nor does the\
        \ underlying data have the same data accuracy guarantees as the billing information\
        \ in the CircleCI UI.  This may lead to discrepancies between credits reported\
        \ from Insights and the billing information in the Plan Overview page of the\
        \ CircleCI UI.  For precise credit reporting, always use the Plan Overview\
        \ page in the CircleCI UI."
      operationId: getProjectWorkflowRuns
      parameters:
      - name: project-slug
        in: path
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        required: true
        style: simple
        explode: false
        allowReserved: true
        schema:
          type: string
        example: gh/CircleCI-Public/api-preview-docs
      - name: workflow-name
        in: path
        description: The name of the workflow.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: build-and-test
      - name: all-branches
        in: query
        description: Whether to retrieve data for all branches combined. Use either
          this parameter OR the branch name parameter.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch
        in: query
        description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page-token
        in: query
        description: A token to retrieve the next page of results.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: start-date
        in: query
        description: Include only executions that started at or after this date. This
          must be specified if an end-date is provided.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
        example: 2020-08-21T13:26:29Z
      - name: end-date
        in: query
        description: Include only executions that started before this date. This date
          can be at most 90 days after the start-date.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
        example: 2020-09-04T13:26:29Z
      responses:
        "200":
          description: A paginated list of recent workflow runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_9"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_default"
      x-codeSamples:
      - lang: Node + Request
        source: |
          const request = require('request');

          const options = {
            method: 'GET',
            url: 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test',
            qs: {
              'all-branches': 'SOME_BOOLEAN_VALUE',
              branch: 'SOME_STRING_VALUE',
              'page-token': 'SOME_STRING_VALUE',
              'start-date': 'SOME_STRING_VALUE',
              'end-date': 'SOME_STRING_VALUE'
            },
            headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}
          };

          request(options, function (error, response, body) {
            if (error) throw new Error(error);

            console.log(body);
          });
      - lang: Python + Python3
        source: |-
          import http.client

          conn = http.client.HTTPSConnection("circleci.com")

          headers = { 'Authorization': "Basic REPLACE_BASIC_AUTH" }

          conn.request("GET", "/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test?all-branches=SOME_BOOLEAN_VALUE&branch=SOME_STRING_VALUE&page-token=SOME_STRING_VALUE&start-date=SOME_STRING_VALUE&end-date=SOME_STRING_VALUE", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\
          \n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test?all-branches=SOME_BOOLEAN_VALUE&branch=SOME_STRING_VALUE&page-token=SOME_STRING_VALUE&start-date=SOME_STRING_VALUE&end-date=SOME_STRING_VALUE\"\
          \n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"\
          Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\
          \n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\t\
          fmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://circleci.com/api/v2/insights/gh/CircleCI-Public/api-preview-docs/workflows/build-and-test?all-branches=SOME_BOOLEAN_VALUE&branch=SOME_STRING_VALUE&page-token=SOME_STRING_VALUE&start-date=SOME_STRING_VALUE&end-date=SOME_STRING_VALUE' \
            --header 'Authorization: Basic REPLACE_BASIC_AUTH'
  /insights/{project-slug}/workflows/{workflow-name}/jobs:
    get:
      tags:
      - Insights
      summary: Get summary metrics for a project workflow's jobs.
      description: "Get summary metrics for a project workflow's jobs. Job runs going\
        \ back at most 90 days are included in the aggregation window. Metrics are\
        \ refreshed daily, and thus may not include executions from the last 24 hours.\
        \ Please note that Insights is not a financial reporting tool and should not\
        \ be used for precise credit reporting.  Credit reporting from Insights does\
[...]
